/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2837";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            7_seg_display {
                compatible = "n7d";       /* name of driver */
                status = "okay";
                n7d-gpios = <&gpio 17 0>, /* RX */
                            <&gpio 27 1>; /* TX */
            };
        };
    };
};